<!doctype html>
<html>
<head>
	<title>BIO FIND - Market <%= market.name %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> BIO FIND</h1>
		<a href='/profile/<%= user._id %>' class="btn btn-default">Profile</a>		
		<a href="/products" class="btn btn-default">Products</a>
		<a href="/markets" class="btn btn-default">Markets</a>
		<a href="/logout" class="btn btn-default"> Logout</a>
	</div>

	<div class="row">

		<!-- SHOW MARKET -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Market: <%= market.name %></h3>

					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Street</th>
								<th>Time</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><%= market.name %></td>
								<td><%= market.address %></td>
								<td><%= market.open %></td>
						</tbody>
					</table>

			</div>
		</div>
	</div>

</div>
</body>
</html>